
.darkBG {
   
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
   
  }
  
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: none;
  }
  
  .modal {
    width: 700px;
    height: 400px;
    background: white;
    z-index: 10;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }
  
  .modalHeader {
    height: 50px;
    background: #2c3e50;
    overflow: hidden;
    color:white;
    /* border-top-left-radius: 16px;
    border-top-right-radius: 16px; */
  }
  
  .heading {
    margin: 0;
    padding: 10px;
    color:white;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }
  
  .modalContent {
    padding: 10px;
    font-size: 20px;
    color: #2c3e50;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 0.2);

  }
  .modalText{
    display: block;
    margin: 20px;
  }
  
  .modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
  }
  
  .closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
  }
  
  .slots {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #2c3e50;
    transition: all 0.25s ease;
    margin-left: 10px;
  }
  
  .slots:hover {
    box-shadow: 0 10px 20px -10px #2c3e50;
    transform: translateY(-5px);
    background: #2c3e50;
  }
  
  .cancelBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: 0.5px solid #2c3e50;
    color: #2c3e50;
    background: #fcfcfc;
    transition: all 0.25s ease;

  }
  
  .cancelBtn:hover {
    box-shadow: none;
    transform: none;
    background: whitesmoke;
  }


  

  form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 100px;
  }
  
  label{
   font-family: sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-size: .8em;
    color: #FFF;
  }
  
  input[type=text]{
    display: inline-block;
    border: none;
    text-align: left;
    box-shadow: 3px 2px #2c3e50;
    padding: 10px;
    width: 350px;
    margin: 10px 0;
    background: transparent;
    color: #FFF;
  }
  
  input[type=text]:focus{
    background: none;
    border: none;
    color: #FFF;
  }
  
  button{
    background: transparent;
    color: #FFF;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px 0;
    padding: 10px 30px;
    border: 2px solid #FFF;
  }
  
  button:hover{
    background: transparent;
    border: 2px solid rgba(69, 39, 160, .4);
  }

  .formSubmit{
    margin-left: 30px;
  }